/*
_base.scss
*******************************************************************************************************************/

/*  color
-------------------------------------------------- */
/* base-color */
$color-b1 : #111111;
$color-b2 : #444444;
$color-b3 : #666666;
$color-g1 : #bdbdbd;

/* thema-color */
$color-t1 : #ff550a;
$color-t1_2 : #fd6301;
$color-t1_3 : #ff9c3b;

/* sub-color */
$color-s1 : #f0ae58;


/*  BlakePoint
-------------------------------------------------- */
$bp-ss: 23.4375em;   // 375px
$bp-sm: 37.5em;    // 600px
$bp-md: 56.25em;   // 900px
$bp-lg: 68.75em;   // 1100px
$bp-xl: 75em;      // 1200px

/* Container Padding
-------------------------------------------------- */
$container-p:15px;

/* html
-------------------------------------------------- */
html{
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

/* body
-------------------------------------------------- */
body {
    background-color: #fff;
    color: #111111;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.75;
    width: 100%;
    font-family: "Noto Sans JP", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

@media (min-width: $bp-ss) {  
    body {
        font-size: 1.6rem;
    }
}

body *,
body *::before,
body *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body.is-fix {
    position: fixed;
    width: 100%;
    height: 100%;
}

/* a
-------------------------------------------------- */
a {
    word-break: break-all;
    background-color: transparent;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
}

a:link {
    text-decoration: none;
    color: #111111;
}

a:visited {
    text-decoration: none;
    color:#111111;
}


a:hover, a:active {
    outline-width: 0;
    text-decoration: none;
    color: #111111;
}

a:focus {
    outline-width: 0;
    text-decoration: none;
}

li img, li a, li a img {
    vertical-align: bottom;
}




/*  lightbox
-------------------------------------------------- */
/*a[data-lightbox="lb"] {
    position: relative;
    text-decoration: none !important;
    pointer-events: none;
}

a[data-lightbox="lb"]::after {
    display: none;
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'fontAwesome';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    text-rendering: auto;
    line-height: 1;
    content: "\f002";
    color: #fff;
    text-decoration: none !important;
}

@media (min-width: 768px) {
    a[data-lightbox="lb"] {
        pointer-events: auto;
    }
    a[data-lightbox="lb"]::after {
        display: inline-block;
    }
}
*/